<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
        <title>Doctor</title>
    </head>
    <body>
        <h1>Doctor Page</h1>
        <h2>Hi, {{doctor.name}}</h2>
        <div>
            <button><a href="#">Image </a></button>
            <button><a href="/patient/{{doctor.id}}">Patient List </a></button>
            <button><a href="/doctor_schedule/{{doctor.id}}">Schedule </a></button>
            <button><a href="">Appointment for scan</a></button>
        </div>
        <br><br>
        
        <button><a href="/doctor_profile/{{doctor.id}}">Profile</a></button>
        <button><a href="/">Log Out</a></button>
    </body>
</html>