<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
        <title>Doctor</title>
    </head>
    <body>
        <h1>Doctor Page</h1>
        <h2>Hi, {{doctor.name}}</h2>
        <div>
            <button><a href="/patient/{{doctor.id}}">Patient List </a></button>
            <button><a href="/doctor_schedule/{{doctor.id}}">Schedule </a></button>
            <button><a href="">Appointment for scan</a></button>
        </div>
        <br><br>

        <h2>Today's Appointment</h2>
        <section>      
            {% if appointments %}
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Patient Name</th>
                            <th>Appointment Time</th>
                            <th>Status</th>
                            <th>Assistance (Nurse)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for appointment in appointments %}
                            <tr>
                                <td>{{ appointment['id'] }}</td>
                                <td>{{ appointment['patient_name'] }}</td>
                                <td>{{ appointment['date'] }} at {{ appointment['time'] }}</td>
                                <td>{{ appointment['status'] }}</td>
                                <td>{{ appointment['nurse_name'] }}</td>
                                <td>
                                    <table class="action-table">
                                        <tr>
                                            <td class="action">
                                                <button><a href="/accept_appointment/{{app['num']}}/{{doctor.id}}" style="color: green">Yes</a></button>
                                            </td>
                                            <td class="action">
                                                <button><a href="/delete_appointment/{{app['num']}}/{{doctor.id}}" style="color: red">No</a></button>    
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No upcoming appointments for this doctor.</p>
            {% endif %}
        </section>

        <button><a href="/doctor_profile/{{doctor.id}}">Profile</a></button>
        <button><a href="/">Log Out</a></button>
    </body>
</html>
