<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
        <title>Doctor</title>
    </head>
    <body>
        <h1>Doctor Page</h1>
        <h2>Hi, {{doctor.name}}</h2>
        <div>
            <a href="#">Image </a> <br>
            <a href="/patient/{{doctor.id}}">Patient List </a> <br>
            <a href="#">Schedule </a>
        </div>

        <button><a href="/doctor_profile/{{doctor.id}}">Profile</a></button>
        <button><a href="/">Log Out</a></button>
    </body>
</html>