<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Schedule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
</head>

<body>
    <header>
        <h1>Upcoming Appointments</h1>
        <p><b>Doctor Name: </b>{{ doctor['name'] }}</p>
    </header>

    <div class="search-container">
        <input type="date" id="searchInput" class="search-input">
        <button class="search-button" onclick="searchPatient()">Search</button>
    </div>

    <!-- Appointment Table -->
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Appointment ID</th>
                <th>Patient ID</th>
                <th>Patient Name</th>
                <th>Appointment Time</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="appointmentTable">
            {% for app in db %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{app["num"]}}</td>
                    <td class="patient-id">{{ app['patient_id'] }}</td>
                    <td class="patient-name">{{ app['patient_name'] }}</td>
                    <td class="appointment-date">{{ app['date'] }} at {{ app['time'] }}</td>
                    <td>{{ app['status'] }}</td>
                    <td>
                        <table class="action-table">
                            <tr>
                                <td><span style="color: green">Yes</span></td>
                                <td><span style="color: red">No</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function searchPatient() {
            const inputDate = document.getElementById('searchInput').value;
            const table = document.getElementById('appointmentTable');
            const rows = table.getElementsByTagName('tr');

            for (let i = 0; i < rows.length; i++) {
                const dateCell = rows[i].querySelector('.appointment-date');
                if (dateCell) {
                    const appointmentDate = dateCell.textContent.split(' at ')[0].trim();
                    rows[i].style.display = (appointmentDate === inputDate || inputDate === "") ? "" : "none";
                }
            }
        }
    </script>

    <footer>
        <a href="/doctor/{{ id }}">Back</a>
    </footer>
</body>
</html>
