<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='p_add.css') }}">
        <title>Update Patient Details</title>
    </head>
    <body>
        <h1>Update Patient Details</h1>
        <form action="/update/{{patient.id}}/{{staff_id}}" method="POST">
            <div class="profile-container">
                <div class="profile-row">
                    <div class="profile-label">ID</div>
                    <div class="profile-value"><b>: </b>{{ patient.id }}</div>
                </div>
                <div class="profile-row">
                    <div class="profile-label">Name</div>
                    <div class="profile-value"><b>: </b>{{ patient.name }}</div>
                </div>
                <div class="profile-row">
                    <div class="profile-label">NIC</div>
                    <div class="profile-value"><b>: </b>{{ patient.nic }}</div>
                </div>
                <div class="profile-row">
                    <div class="profile-label">Date Of Birth</div>
                    <div class="profile-value"><b>: </b>{{ patient.dob }}</div>
                </div>
                <div class="profile-row">
                    <div class="profile-label">Gender</div>
                    <div class="profile-value"><b>: </b>{{ patient.gender }}</div>
                </div>
            </div>
            <label for="phone">Phone:</label>
            <input type="text" id="phone" name="phone" value="{{ patient.phone }}" required><br><br>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="example@gmail.com" value="{{ patient.email }}" required>
            <br>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" value="{{ patient.address }}" required>
            <br>

            <input type="submit" value="Update Profile">
        </form>

        <a href="/nurse/{{staff_id}}">Back</a>
    </body>
</html>
