
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
    <title>Medical History</title>
</head>
<body>
    <h1>Medical History</h1>
    <p><b>ID: </b> {{patient.id}}</p>
    <p><b>Name: </b>{{patient.name}}</p>
    <p><b>DOB: </b> {{patient.dob}}</p>
    <p><b>Gender: </b>{{patient.gender}}</p>
    <br>

    <table>
        <tr>
            <th>#</th>
            <th>Appoinment ID</th>
            <th>Department</th>
            <th>Doctor Name</th>
            <th>Date Time</th>
            <th>Appointment Status</th>
            <th>Action</th>
        </tr>

        {% for app_list in p_app_list %}
        <tr>
            <td>{{ app_list.num }}</td>
            <td>{{ app_list.id }}</td>
            <td>{{ app_list.dept }}</td>
            <td>{{ app_list.docName }}</td>
            <td>{{ app_list.dateTime }}</td>
            <td>{{ app_list.status }}</td>
            <td>
                <table class="action-table">
                    <tr>
                        <td>
                            <span style="color: green">Yes</span>
                        </td>
                        <td>
                            <span style="color: red">No</span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endfor %}

    </table>
    <a href="/">Back</a>
</body>
</html>
