
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
    <title>Patient Appointment</title>
</head>
<body>
    <h1>Patient Appointment</h1>
    <p><b>ID: </b> {{patient.id}}</p>
    <p><b>Name: </b>{{patient.name}}</p>
    <p><b>NIC: </b> {{patient.nic}}</p>
    <p><b>DOB: </b> {{patient.dob}}</p>
    <p><b>Gender: </b>{{patient.gender}}</p>
    <br>

    <a href="/add_appointment/{{patient.id}}/{{staff_id}}">Add New Appointment&emsp;&emsp;</a>
    <a href="/app_history/{{patient.id}}">Appointment History</a>
        <table>
            <tr>
                <th>#</th>
                <th>Appoinment ID</th>
                <th>Department</th>
                <th>Doctor Name</th>
                <th>Date Time</th>
                <th>Appointment Status</th>
            </tr>
            {% for app_list in p_app_list %}
            <tr>
                <td>{{ app_list.num }}</td>
                <td>{{ app_list.id }}</td>
                <td>{{ app_list.dept }}</td>
                <td>{{ app_list.docName }}</td>
                <td>{{ app_list.dateTime }}</td>
                <td>{{ app_list.status }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/nurse/{{staff_id}}">Back</a>
</body>
</html>
