<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='p_add.css') }}">
        <title>Update Patient Appointment</title>
    </head>
    <body>
        <h1>Update Patient Appointment</h1>
        <form action="{{ url_for('update_appointment', patient_id=patient.id, staff_id=staff_id, appointment_index = appointment_index) }}" method="POST">
            
            <div class="profile-container">
                <div class="profile-row">
                    <div class="profile-label">Patient ID</div>
                    <div class="profile-value"><b>: </b>{{ patient.id }}</div>
                </div>
                <div class="profile-row">
                    <div class="profile-label">Patient Name</div>
                    <div class="profile-value"><b>: </b>{{ patient.name }}</div>
                </div>
                <div class="profile-row">
                    <div class="profile-label">Department</div>
                    <div class="profile-value"><b>: </b>{{ department }}</div>
                </div>
            </div>

            <label for="doctor_id">Doctor Name: </label>
            <select id="doctor_id" name="doctor_id" required>
                {% for doctor in doctors %}
                    <option value="{{ doctor.id }}" {% if doctor.id == app.doctor_id %} selected {% endif %}>
                        {{ doctor.name }}
                    </option>
                {% endfor %}
            </select><br>

            <label for="date">Date: </label>
            <input type="date" id="date" name="date" value="{{ app.date }}" required>
            <br>

            <label for="time">Time: </label>
            <input type="time" id="time" name="time" value="{{ app.time }}" required>
            <br>

            <input type="submit" value="Update Appointment">
        </form>

        <a href="{{ url_for('appointment', patient_id=patient.id, staff_id=staff_id) }}">Back</a>
    </body>
</html>
