<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">
    <title>Change Password</title>
    <script>
        function redirectToProfile(url) {
            setTimeout(function() {
                window.location.href = url;
            }, 2000);
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Change Password</h1>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        
        {% if success %}
            <p class="success">{{ success }}</p>
            <script>
                redirectToProfile("{{ url_for('staff_profile', staff_id = id) }}");
            </script>
        {% endif %}

        <form action="{{ url_for('edit_psw', id=id) }}" method="POST">

            <label for="current_psw">Current Password:</label>
            <input type="password" id="current_psw" name="current_psw" required>

            <label for="new_psw">New Password:</label>
            <input type="password" id="new_psw" name="new_psw" required>

            <label for="confirm_psw">Confirm New Password:</label>
            <input type="password" id="confirm_psw" name="confirm_psw" required>

        <button type="submit" class="submit-button">Change Password</button>
        </form>
    </div>
    <a href="{{ url_for('staff_profile', staff_id=id) }}">Back to Profile</a>
</body>
</html>
