<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
    <title>Medical Image</title>
</head>
<body>
    <h1>Medical Image</h1>
    <p><b>ID: </b> {{ patient.id }}</p>
    <p><b>Name: </b> {{ patient.name }}</p>
    <p><b>DOB: </b> {{ patient.dob }}</p>
    <p><b>Gender: </b> {{ patient.gender }}</p>
    <br>

    <table>
        <tr>
            <th>Appointment ID</th>
            <th>Date</th>
            <th>Time</th>
            <th>Result</th>
        </tr>
        {% if appointments |length > 0 %}
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.appointment_id }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.time }}</td>
                    <td>
                        <a href="/doctor_review/{{ appointment.image_id }}/{{ appointment.appointment_id }}/{{staff_id}}">Result</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">No appointments available</td>
            </tr>
        {% endif %}
    </table>
    <a href="/patient/{{staff_id}}">Back to Patient Database</a>
</body>
</html>




