
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
    <title>Medical Image</title>
</head>
<body>
    <h1>Medical Image</h1>
    <p><b>ID: </b> {{patient.id}}</p>
    <p><b>Name: </b>{{patient.name}}</p>
    <p><b>DOB: </b> {{patient.dob}}</p>
    <p><b>Gender: </b>{{patient.gender}}</p>
    <br>

    <table>
        <tr>
            <th>Number</th>
            <th>Appoinment ID</th>
            <th>Date Time</th>
            <th>Result</th>
            <th>Generate Report</th>
        </tr>
        {% if patient.history %}
            {% for h in patient.history %}
                <tr id="history-{{ h.num }}">
                    <td>{{ loop.index }}</td>
                    <td>{{ h.num }}</td>
                    <td>{{ h.date }} {{ h.time }}</td>
                    <td>
                        <a href="/scan_appointment/{{ h.num }}/{{ staff_id }}" class="update-link" id="update-link-{{ h.num }}">View</a>
                    </td>
                    <td>
                        <a href="/update_appointment/{{ patient.id }}/{{ staff_id }}/{{ h.num }}" class="update-link" id="update-link-{{ h.num }}">Generate</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">No appointments available</td>
            </tr>
        {% endif %}
    </table>
    <a href="/patient/{{staff_id}}">Back to Patient Database</a>
</body>
</html>
