<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='p_add.css') }}">
    <title>Upload Image and Diagnosis</title>
    <script>
        function showConfirmation(event) {
            alert("Submited successfully!"); 
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let dateInput = document.getElementById("date");
            let doctorDropdown = document.getElementById("doctor_name");
    
            dateInput.addEventListener("change", function() {
                let selectedDate = dateInput.value;
                let staffId = "{{ staff_id }}";
    
                if (selectedDate) {
                    fetch(`/get_available_doctors/${staffId}/${selectedDate}`)
                        .then(response => response.json())
                        .then(data => {
                            doctorDropdown.innerHTML = ""; // Clear previous options
                            if (data.error) {
                                doctorDropdown.innerHTML = `<option value="">${data.error}</option>`;
                            } else {
                                data.forEach(doctor => {
                                    let option = document.createElement("option");
                                    option.value = doctor.name;
                                    option.textContent = doctor.name;
                                    doctorDropdown.appendChild(option);
                                });
                            }
                        })
                        .catch(error => console.error("Error fetching doctors:", error));
                }
            });
        });
    </script>
    
</head>
<body>
    <h1>Upload Image and Diagnosis</h1>
    <form action="/radio_upload/{{patient.id}}/{{staff_id}}" method="post" enctype="multipart/form-data" onsubmit="showConfirmation(event)">
        <label for="patient_id">Patient ID: {{ patient.id }}</label>
        <input type="hidden" id="patient_id" name="patient_id" value="{{ patient_id }}">

        <label for="patient_name">Patient Name: {{ patient.name }}</label>
        <input type="hidden" id="patient_name" name="patient_name" value="{{ patient_name }}">
        <br>

        <label for="upload">Upload:</label>
        <input type="file" id="image-upload" name="image">
        <button onclick="uploadImage()">Upload</button>
        

        <label for="comment">Comment/Diagnosis:</label>
        <textarea id="comment" name="comment" rows="4" cols="40" placeholder="Enter diagnosis here..."></textarea>
        <br>

        <button type="submit">Submit</button>
    </form>

    <a href="/doctor/{{ staff_id }}">Back</a>
</body>
</html>

