<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">
    <title>Upload Image and Diagnosis</title>
    <script>
        function showConfirmation(event) {
            alert("Submited successfully!"); 
        }
    </script>
</head>
<body>
    <h1>Upload Image</h1>
    <form action="{{ url_for('radio_upload', appointment_id=appointment_id, staff_id=staff_id) }}" method="POST" enctype="multipart/form-data" onsubmit="showConfirmation(event)">
        <label for="patient_id">Patient ID: {{ patient.id }}</label>
        <input type="hidden" id="patient_id" name="patient_id" value="{{ patient_id }}">

        <label for="patient_name">Patient Name: {{ patient.name }}</label>
        <input type="hidden" id="patient_name" name="patient_name" value="{{ patient_name }}">
        <br>

        <label for="upload">Upload:</label>
        <input type="file" id="image-upload" name="image">
        <button type="submit">Upload</button>
    </form>


    <a href="/doctor/{{ staff_id }}">Back</a>
</body>
</html>

