body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    color: #007BFF;
    text-decoration: none;
}

.action-table {
    border-collapse: collapse;
    margin: auto auto;
    width: 100%;
}
.action-table td {
    text-align: center;
    padding: 5px;
}
.delete-link {
    color: red;
    text-decoration: none;
}
.update-link:hover, .delete-link:hover, .appointment:hover {
    text-decoration: underline;
}

.status-active {
    color: green;
    font-weight: bold;
}
.status-expired {
    color: red;
    font-weight: bold;
}