<!--No use cuz i combine nurse and doctor in staff_profile.html-->

<!--<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
        <title>Nurse Profile</title>
    <body>
        <h1>Nurse Profile</h1>
        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Department</th>
            </tr>
            <tr>
                <td>{{ nurse.id }}</td>
                <td>{{ nurse.name }}</td>
                <td>{{ nurse.dob }}</td>
                <td>{{ nurse.gender }}</td>
                <td>{{ nurse.phone }}</td>
                <td>{{ nurse.email }}</td>
                <td>{{ nurse.department }}</td>
            </tr>
        </table>
        <a href="/edit_profile/{{nurse.id}}">Edit Profile</a>
        <a href="/edit_psw/{{nurse.id}}">Edit Password</a>
        <a href="/nurse/{{nurse.id}}">Back</a>
    </body>
</html>-->

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
        <title>Nurse Profile</title>
    </head>
    <body>
        <h1>Nurse Profile</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Department</th>
            </tr>
            <tr>
                <td>{{ nurse['id'] }}</td>
                <td>{{ nurse['name'] }}</td>
                <td>{{ nurse['dob'] }}</td>
                <td>{{ nurse['gender'] }}</td>
                <td>{{ nurse['phone'] }}</td>
                <td>{{ nurse['email'] }}</td>
                <td>{{ nurse['department'] }}</td>
            </tr>
        </table>
        <a href="/edit_profile/{{ nurse.id }}">Edit Profile</a>
        <a href="/edit_psw/{{ nurse.id }}">Edit Password</a>
        <a href="/nurse/{{ nurse.id }}">Back</a>
    </body>
</html>