<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
        <title>Doctor Database</title>
        <script>
            function confirmDelete(patientId) {
                const confirmed = confirm("Are you sure you want to delete this doctor?");
                if (confirmed) {
                    window.location.href = `/delete/${patientId}`;
                }
            }
        </script>
    </head>
    <body>
        <h1>Doctor Database</h1>
        <a href="/add_doctor">Add Doctor Patient</a>
        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Department</th>
                <th>Specialty</th>
                <th>Contract Start Date</th>
                <th>Contract End Date</th>
                <th>Actions</th>
            </tr>
            {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.id }}</td>
                <td>{{ doctor.name }}</td>
                <td>{{ doctor.dob }}</td>
                <td>{{ doctor.gender }}</td>
                <td>{{ doctor.phone }}</td>
                <td>{{ doctor.email }}</td>
                <td>{{ doctor.department }}</td>
                <td>{{ doctor.specialty }}</td>
                <td><a href="/appointment/{{ patient.id }}" class="appointment">View</a></td>
                <td><a href="/history/{{ patient.id }}" class="appointment">View</a></td>
                <td>
                    <table class="action-table">
                        <tr>
                            <td>
                                <a href="/update/{{ patient.id }}" class="update-link">Update</a>
                            </td>
                            <td>
                                <a href="#" class="delete-link" onclick="confirmDelete('{{ patient.id }}')">Delete</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>