<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='p_add.css') }}">
    <title>Add Doctor</title>
    <script>
        function showConfirmation(event) {
            alert("New Doctor added successfully!"); 
        }
    </script>
</head>
<body>
    <h1>Add New Doctor</h1>
    <form action="/doctors_add/{{staff_id}}" method="POST">
        <label for="id">Doctor ID: {{id}}</label>
        <br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>

        <label for="nic">NIC:</label>
        <input type="number" id="nic" name="nic" placeholder="000101021234" min="0" maxlength="12" required>
        <br>

        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" value="{{ dob|default('') }}" required>
        <br>

        <label for="gender">Gender:</label>
        <input type="radio" id="gender1" name="gender" value="Male" checked>
        <label for="gender1">Male</label>
        <input type="radio" id="gender2" name="gender" value="Female">
        <label for="gender2">Female</label>
        <br>

        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" pattern="0\s?1[0-9]-\d{3}\s?\d{4}" placeholder="010-330 2037" required>
        <br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="example@gmail.com" required>
        <br>

        <label for="department">Department:</label>
        <input type="radio" id="department1" name="department" value="Neurology" checked>
        <label for="department1">Neurology</label>
        <input type="radio" id="department2" name="department" value="Cardiology">
        <label for="department2">Cardiology</label>
        <input type="radio" id="department3" name="department" value="Emergency">
        <label for="department3">Emergency</label>
        <input type="radio" id="department4" name="department" value="Radiology">
        <label for="department4">Radiology</label>
        <br>

        <label for="startDate">Contract Start Date: </label>
        <input type="date" id="startDate" name="startDate" value="{{ startDate|default('') }}" required>
        <br>

        <label for="endDate">Contract End Date: </label>
        <input type="date" id="endDate" name="endDate" value="{{ endDate|default('') }}" required>
        <br>

        <button type="submit">Add Doctor</button>
    </form>
    <a href="/doctors_db/{{staff_id}}">Back to Doctors List</a>
</body>
</html>
