<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
        <title>Management</title>
    </head>
    <body>
        <h1>Management Page</h1>
        <h2>Hi, {{ppl.name}}</h2>
        <table>
            <tr>
                <th>Doctor</th>
                <th>Nurse</th>
                <th>Patient</th>
            </tr>
            <tr>
                <th>
                    {{count.d_count}}<br><br>
                    <button><a href="/doctors_db/{{ppl.id}}">View Doctor List</a></button> <br>
                    <button><a href="/doctors_add/{{ppl.id}}">Add New Doctor</a></button>
                </th>
                <th>
                    {{count.n_count}}<br><br>
                    <button><a href="/nurses_db/{{ppl.id}}">View Nurse List</a></button> <br>
                    <button><a href="/nurses_add/{{ppl.id}}">Add New Nurse</a></button>
                </th>
                <th>
                    {{count.p_count}}<br><br>
                    <button><a href="/patients_db/{{ppl.id}}">View Patient List</a></button>
                </th>
            </tr>
        </table>

        <table>
            <caption>Contract</caption>
            <tr>
                <th>Status</th>
                <th>Total Staff</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Active</td>
                <td>{{ count.active }}</td>
                <td><a href="#">View</a></td>
            </tr>
            <tr>
                <td>Expired</td>
                <td>{{ count.expired }}</td>
                <td><a href="#">View</a></td>
            </tr>
            <tr>
                <td>Terminated</td>
                <td>{{ count.terminated }}</td>
                <td><a href="#">View</a></td>
            </tr>
        </table>
        <button><a href="/">Log Out</a></button>
    </body>
</html>