<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='patient.css') }}">
        <title>Nurse Database</title>
        <script>
            function confirmDelete(id) {
                const confirmed = confirm("Are you sure you want to delete this nurse?");
                if (confirmed) {
                    window.location.href = `/delete/${id}`;
                }
            }
        </script>
    </head>
    <body>
        <h1>Nurse Database</h1>
        <a href="/nurses_add/{{staff_id}}">Add New Nurse</a>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>NIC</th>
                <th>DOB</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Department</th>
                <th>Contract Start Date</th>
                <th>Contract End Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            {% for nurse in data %}
            <tr>
                <td>{{ nurse['id'] }}</td>
                <td>{{ nurse['name'] }}</td>
                <td>{{ nurse['nic'] }}</td>
                <td>{{ nurse['dob'] }}</td>
                <td>{{ nurse['gender'] }}</td>
                <td>{{ nurse['phone'] }}</td>
                <td>{{ nurse['email'] }}</td>
                <td>{{ nurse['department']['name'] }}</td>
                <td>{{ nurse['startdate'] }}</td>
                <td>{{ nurse['enddate'] }}</td>
                <td>
                    <span 
                        class="{% if nurse['status'] == 'active' %}status-active{% elif nurse['status'] == 'terminated' %}status-terminated{% else %}status-expired{% endif %}">
                        {{ nurse['status'] }}
                    </span>
                </td>
                <td>
                    <table class="action-table">
                        <tr>
                            <td>
                                <a href="/update_contract/nurses/{{staff_id}}/{{ nurse.id }}" class="update-link">Update Contract</a>
                            </td>
                            <td>
                                <a href="#" class="delete-link" onclick="confirmDelete('{{ nurse.id }}')">Delete</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="/manage/{{staff_id}}">Back</a>
    </body>
</html>